.container {
    background-color: #202014;
    border: 2px solid #00b37e;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
}

.container span {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}